/*
CSS style for Ubuntu-RO
author: <geosoft1@gmail.com>
*/
.d-header .icons .icon:hover { background-color: transparent; }
.nav-pills>li>a { border-radius: 5px; }
.list-controls { border-radius: 5px; }
.btn { border-radius: 5px; }
.alert.alert-info { border-radius: 5px;}
.d-header .login-button, .d-header button.sign-up-button { background-color: #bb4814; }
html { font-family: Ubuntu,Arial,sans-serif;}
